<h2> Add A New Visit: </h2>

<form method="post" action="/visits/new">

  <label>Enter the Date:</label>
  <input type="text" name="date" placeholder="Date"><br>
  
  <% @arenas.each do |arena| %>
    <input type="radio" name="arena" id="<%= arena %>" value="<%= arena %>"><%= arena.name %><br>
  <% end %>
  
  <input type="submit" value="Submit">
</form>
