<h2>Your Stadium Visits:</h2>

<%= @user %>



<form method="post" action="/visits/<%= @visit.id %>/delete">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Visit">
</form>
